:root{
    --roxo: #912BBC;
    --rosa: #FF3EA5;
    --rosinha: #FB9AD1;
    --roxinho: #A076F9;
    --roxao: #B950E6
}
body{
    margin: 0 auto;
}
@font-face{
    font-family: "dougle"; src: url("./fonts/Dongle-Light.ttf")
}
@font-face{
    font-family: "fjalla"; src: url("./fonts/FjallaOne-Regular.ttf")
}
.box-header{
    width: 100%;
    height: 100px;
    background-color: var(--roxo) ;
}
.logo {
    width: 100px;
    height: 90px;
    margin-top: 7px;
    margin-left: 30px;
}
.seguro{
    float: right;
    margin-right: 70px;
    margin-top: 30px;
    color: white;
    display: flex;
    font-family: "dougle";
    font-size: 25px;
    align-items: center;
}
.cadeado{
    width: 35px;
    height: 30px;
}
.text-ambiente{
    margin-left: 10px;
    margin-top: 5px;
}
.pai{
    width: 100%;
    align-items: center;
    text-align: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 45px;
    font-family: "fjalla";
    color: var(--rosa);
}
.display {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.planos1{
    width: 20%;
    border: 2px solid var(--rosinha);
    border-top: 20px solid var(--rosinha);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 50px;
}
.planos2{
    width: 20%;
    border: 2px solid var(--roxinho);
    border-top: 20px solid var(--roxinho);
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 50px;
}
.planos2 h3{
    margin-top: 11px;
}
.planos3{
    width: 20%;
    border: 2px solid var(--roxao);
    border-top: 20px solid var(--roxao);
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 50px;
}
p{
    text-align: justify;
    font-size: 15px;
    width: 90%;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.preco{
    font-size: 25px;
    font-family: 'fjalla';
}
h3{
    font-size: 25px;
    font-family: "fjalla";
}
.basico{
    color:var(--rosinha);
}
.intermediario{
    color:var(--roxinho);
}
.premium{
    color:var(--roxo);
}
.botao1{
    background-color:var(--rosinha);
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.botao2{
    background-color:var(--roxinho);
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.botao3{
    background-color:var(--roxo);
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.precoanual{
    margin-left: 65px;
    margin-top: 1px;
    font-family: "dougle";
    font-size: 22px;
}
.texto1{
    margin-bottom: 170px;
}
.texto2{
    margin-bottom: 123px;
}
.texto3{
    margin-bottom: 88px;
}
.rodape{
    background-color: var(--roxo);
    color: white;
    height: 90px;
    padding: 10px;
}
.rodape p{
    margin-top: 10px;
    font-family: "fjalla";
}
.textbutton{
    color: white;
    font-family: "font";
    font-size:  18px;
}

.third {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    border-color: var(--rosinha);
    color: var(--rosinha);
    box-shadow: 0 0 40px 40px var(--rosinha) inset, 0 0 0 0 var(--rosinha);
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 var(--rosinha) inset, 0 0 10px 4px var(--rosinha);
      background-color: var(--rosinha);
    }
}
.third1 {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    border-color: var(--roxinho);
    color: var(--roxinho);
    box-shadow: 0 0 40px 40px var(--roxinho) inset, 0 0 0 0 var(--roxinho);
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 var(--roxinho) inset, 0 0 10px 4px var(--roxinho);
      background-color: var(--roxinho);
    }
}
.third2 {
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 5px;
    border-color: var(--roxo);
    color: var(--roxo);
    box-shadow: 0 0 40px 40px var(--roxo) inset, 0 0 0 0 var(--roxo);
    transition: all 150ms ease-in-out;
    
    &:hover {
      box-shadow: 0 0 10px 0 var(--roxo) inset, 0 0 10px 4px var(--roxo);
      background-color: var(--roxo);
    }
}