:root{
    --roxo: #912BBC;
    --rosa: #FF3EA5;
    --roxo-claro: #A076F9;
    --rosa-claro:#FB9AD1
}
@font-face{
    font-family: "font"; src: url("./fonts/Dongle-Light.ttf")
}
@font-face{
    font-family: "fontes"; src: url("./fonts/FjallaOne-Regular.ttf")
}


body{
    margin: 0 auto;
    font-family: 'font';
}

.box-header{
    width: 100%;
    height: 100px;
    background-color: var(--roxo) ;
}
.logo {
    width: 100px;
    height: 90px;
    margin-top: 7px;
    margin-left: 30px;
}


.title{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: var(--rosa-claro);
    font-family: 'fontes';
}

.caixatudo{
    width: 80%;
    margin-left: 10%;
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
}
.SobreNos span{
    color: var(--rosa-claro);
    font-size: 40px;
    font-family: 'fontes';
}
.SobreNos p{
    font-size: 30px;

}